@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
    --light-black:#181719;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
max-width: 1440px;
min-width: 375px;

min-height: 100vh;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
background: white;
/* background-color: #969595; */
/* border: 1px solid red; */
}

                                   /* SOCIAL MEDIA ICON BAR */




    .social-icon-bar {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 2%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    /* display: none; */
    
    }

    .social-icon-bar a {
    animation-delay: 10s;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 20px;
    color: black;
    border-radius: 3px;
    }
    
    
    .social-icon-bar a:hover {
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    }

    .social-icon-bar a:active {
    background-color: #969595;
    box-shadow: none;
    }


header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;

}

nav ul {
    width: 80%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: right;
    text-transform: uppercase;
    padding: 1.5rem 0;
   
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0.5px dotted grey; */
}


.centered {
    text-align: center;
}

.hero-message {
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px dotted blue; */
    /* margin: 0 auto; */
  }
  
  .scroll-div {
    width: 100%;
    text-align: center;
    overflow: hidden;
    /* border: 1px solid red; */
  }
  
  
  .hero-message h1,
  .hero-message h3 {
    opacity: 0;
    transition: opacity 1s;
  }

    .hero-message h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .hero-message h1.fade-in {
    opacity: 1;
    
  }
  
  .hero-message h1.fade-out {
    opacity: 0;
  }


  #subMessage {
    margin-top: 5em;
  }
  
  
  #subMessage.drop-in {
    opacity: 1;
    animation: drop-in 1s ease 200ms backwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
   }
  
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-30px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
     
    }
   }


                                                    /* HOME SECTION */
  #home {
    display: flex;
    flex-direction: row;
  }

  .home-text {
    margin: auto;
    max-width: 600px;
    min-width: 225px;
}

.home-text h1 {
  min-width: 210px;
  max-width: 650px;
  font-size: 5.5vw;
  margin: 0.2em 0;
  word-wrap:break-word;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  */
  
}

.home-text h3,
.home-text p {
  font-size: 1.5vw; 
}


.home-text p {
  min-width: 16px;
  max-width: 400px;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.home-img {
  max-width: 400px; 
  display: flex;
  align-items: center;
  background-color: black;

}


.home-img img {
  width: 100%;
    display: block;
}


#home-contact-btn {
    height: 50px;
    /* border: 1px solid black; */
    color: black;
    background-color: white;
    padding: 0 30px;
    border-radius: 7px;
    margin: 2em 0 ;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
    overflow: hidden;
}

#home-contact-btn:hover {
    color: white;
    border: none;
    background-color: black;
}



                                                   /*ABOUT SECTION   */
  #about {
    display: block;
  }

  .about-text {
    width: 100%;
    margin: 5em auto;
    border-radius: 15px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 0.2); 
    padding: 2em;
  }


  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .skill-icons {
    overflow: hidden;
    padding: 30px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
  }
  
  .skill-icons:before,
  .skill-icons:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .skill-icons:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .skill-icons:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .skill-icons:hover .skill-icons-slide {
    animation-play-state: paused;
  }
  
  .skill-icons-slide {
    display: flex;
    animation: 35s slide infinite linear;
    height: 100%;
  }
  
  .skill-icons-slide li {
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
    margin: 0 40px;
    transition: all 3s ease-in-out;
    /* border: 1px solid blue; */
  }
  
  .skill-icons-slide li  :hover {
      /* color: burlywood; */
      transform: scale(1.1);
  }
  
  .skill-icons-slide li i {
      font-size: 80px;
      color: black; 
  }

                                                 /* PROJECTS SECTION */

  #projects {
  display: flex;
  flex-direction: column;
}

.projects-text {
  width: 100%;
  text-align: center;
}

.projects-text h1 {
  margin: 1em 0;
}

.projects-text h4 {
   line-height: 1.5em;
}

.filter-button-div {
  
}
  
.filter-button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;
  margin-top: 3em;
  
}


.filter-button:hover {
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.2);
}


.filter-button.active {
  background-color: var(--light-black);
  color: white;
}



.grid-item__info__text a,
.about-p a {
color: inherit;
}

.projects-grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  /* border: 1px solid yellow; */
}

.grid-item {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px black;
  position: relative;
  overflow: hidden;
  margin: 2em auto;
  opacity: 0;
  transform: scale(0.3);
  filter: blur(3px);

  animation: blow-up 1s ease-in-out forwards;
}

@keyframes blow-up {
  0% {
    opacity: 0;
    transform: scale(0.3);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}




.grid-item:nth-child(1) {
animation-delay: calc(1 * 250ms);
}
.grid-item:nth-child(2) {
animation-delay: calc(2 * 250ms);
}
.grid-item:nth-child(3) {
animation-delay: calc(3 * 250ms);
}
.grid-item:nth-child(4) {
animation-delay: calc(4 * 250ms);
}
.grid-item:nth-child(5) {
animation-delay: calc(5 * 250ms);
}
.grid-item:nth-child(6) {
animation-delay: calc(6 * 250ms);
}

.grid-item:hover {
   cursor: pointer;
}

.grid-item:hover .grid-item-text {
  height: 252px;
}

.grid-item h3 {
text-align: center;
text-transform: uppercase;
margin-top: 1em;
}



.grid-item:hover p {
      opacity: 1;
      visibility: visible;
}

.grid-item:hover img {
  transform: scale(1.1) rotate(-3deg);
}

.grid-item img {
  height: 100%;
  width: 100%;
  object-fit:cover;
  
}


.grid-item-text {
  height: 40px;
  width: 100%;
  padding: 6px;
  position: absolute;
  bottom: -40px;
  background: rgb(27,27,27, .3);
  color: black;
  transition: .5s;
}

.grid-item-text:hover {
color: white;
background: rgb(27,27,27, .6);
bottom: 0px;
}

.grid-item-text p {
  margin-top: 1em;
  visibility: hidden;
  opacity: 0;
}

.grid-item-icons {
margin: .75em 0;
}

.grid-item-icons i, .grid-item-icons img {
    font-size: 35px;
    width: 35px;
    transition: .3s ease-in-out;
}

#js-icon,#react-icon{
width: 30px;
}

.grid-item-icons img:hover {
transform: scale(1.2);
}

.grid-item-links-container, .grid-item-links-container a {
display: flex;
justify-content: center;
align-items: center;
height: 40px;
}


.grid-item-links-container a {
text-decoration: none;
color: inherit;
width: 100%;
}

.grid-item-links-container a:hover {

background-color: var(--light-black);
opacity: .5;
}

                                                    /* TEST SECTION  */

#test-section {
  background-image: url("/images/Chibs-bw-test9-removebg-preview.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
